[workspace]
resolver = "2"

members = [
    "xelis_common",
    "xelis_wallet",
    "xelis_miner",
    "xelis_daemon"
]

# TODO: temporary until https://github.com/eira-fransham/crunchy/issues/15 is merged
[patch.crates-io]
crunchy = { git = "https://github.com/xelis-project/crunchy", branch = "master" }

# cargo run --profile release-with-lto
[profile.release-with-lto]
inherits = "release"
opt-level = 3
debug-assertions = false
overflow-checks = false
lto = true
strip = true